version: '3'

services:
  reverse:
    container_name: reverse
    hostname: reverse
    image: nginx
    ports:
      - 4200:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./angular-frontend/dist/angular-frontend:/usr/share/nginx/html

  spring:
    image: springio/gs-spring-boot-docker
      

