<div id="editProjectModal" class="modal fade" tabindex="-1" aria-labelledby="addProjectLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row mb-2">
                        <div class="col-xs-12">
                            <label for="title" class="me-2 mb-2">Project Title: </label>
                        </div>
                        <div class="col-xs-12">
                            <input type="text" formControlName="title" />
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-xs-12">
                            <label for="title" class="me-2 mb-2">Project Description: </label>
                        </div>
                        <div class="col-xs-12">
                            <textarea formControlName="description"></textarea>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <label for="title" class="me-2 mb-2">Complete? </label>
                        <input type="checkbox" formControlName="complete" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
